<footer>
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<ul class="list-inline">
					<li>&copy;{{ 'now'|date('Y') }} {{ siteName }}</li>
					{% if siteControls.primaryAddress|length %}<li>{{ siteControls.primaryAddress }}</li>{% endif %}
					{% if siteControls.primaryTelephone|length %}<li>{{ siteControls.primaryTelephone }}</li>{% endif %}
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 text-right">
				{% include '_includes/social' %}
			</div>
		</div>
	</div>
</footer>