<header>
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<a href="/"><img src="/resources/img/logo.gif?{{ now|date("i:s") }}" alt="{{ siteName }}"></a>
			</div>
			<div class="col-xs-6 col-sm-8 mainnav" id="mobile-menu">
				{{ craft.navee.nav('mainNav') }}
			</div>
		</div>
	</div>
</header>

