<!-- Facebook OpenGraph Data -->
{% set entry = craft.entries.first() %}
<meta property="og:title" content="{% if entry.title is defined and entry.sectionId != 1 %}{{ entry.title|title }} &ndash; {% elseif title is defined %}{{ title|title }} &ndash; {% endif %} {{ siteName }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{% if entry is defined%}{{ (entry.pageDescription|length) ? entry.pageDescription : siteControls.defaultSeo }}{% else %}{{ siteControls.defaultSeo }}{% endif %}" />        
<meta property="og:url" content="{{ url(craft.request.path) }}"/>
<meta property="og:image" content="{{ siteUrl | trim('/') }}{% if entry.ogImageOnPage | length%}{{ entry.ogImageOnPage.first.url('ogimageresize')}}{% else %}{{ siteControls.ogImage.first.url }}{% endif %}"/>
<meta property="og:site_name" content="{{ siteName }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<!-- Twitter Card Data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if entry.title is defined and entry.sectionId != 1 %}{{ entry.title|title }} &ndash;{% elseif title is defined %}{{ title|title }} &ndash; {% endif %} {{ siteName }}">
<meta name="twitter:description" content="{% if entry is defined%}{{ (entry.pageDescription|length) ? entry.pageDescription : siteControls.defaultSeo }}{% else %}{{ siteControls.defaultSeo }}{% endif %}">
<meta name="twitter:creator" content="{{ socialMedia.twitter }}">
<meta name="twitter:image" content="{{ siteUrl | trim('/') }}{% if entry.ogImageOnPage | length%}{{ entry.ogImageOnPage.first.url('ogimageresize')}}{% else %}{{ siteControls.ogImage.first.url }}{% endif %}">
<meta name="twitter:domain" content="{{ url(craft.request.path) }}">

<!-- Canonical URL for CMS SEO -->
<link rel="canonical" href="{{ url(craft.request.path) }}" />



