<!-- <div class="fb-share-button" data-href="{{ url(craft.request.path) }}" data-mobile-iframe="true">Facebook</div>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ socialMedia.twitter }}">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
 -->
{% set entry = craft.entries.first() %}
 <ul class="list-inline">
 	<li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ url(craft.request.path) }}">Facebook</a></li>
 	<li><a target="_blank" href="https://twitter.com/home?status={{ entry.title|title }}%20&ndash;%20{{ siteName }}%20{{ url(craft.request.path) }}">Twitter</a></li>
 	<li><a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ url(craft.request.path) }}&title={{ entry.title|title }}&summary={% if entry is defined%}{{ (entry.pageDescription|length) ? entry.pageDescription : siteControls.defaultSeo }}{% else %}{{ siteControls.defaultSeo }}{% endif %}&source={{ siteUrl }}">Linkedin</a></li>
 	<li><a href="mailto:?subject={{ entry.title|title }}%20&ndash;%20{{ siteName }}&amp;body={% if entry is defined%}{{ (entry.pageDescription|length) ? entry.pageDescription : siteControls.defaultSeo }}{% else %}{{ siteControls.defaultSeo }}{% endif %} - {{ url(craft.request.path) }}">Email</a></li>
 </ul>