<ul class="social list-inline">
	{% if socialMedia.facebook|length %}<li><a href="{{ socialMedia.facebook }}" target = "blank">Facebook</a></li>{% endif %}
	{% if socialMedia.twitter|length %}<li><a href="{{ socialMedia.twitter }}" target = "blank">Twitter</a></li>{% endif %}
	{% if socialMedia.instagram|length %}<li><a href="{{ socialMedia.instagram }}" target = "blank">Instagram</a></li>{% endif %}
	{% if socialMedia.linkedin|length %}<li><a href="{{ socialMedia.linkedin }}" target = "blank">Linkedin</a></li>{% endif %}
	{% if socialMedia.pinterest|length %}<li><a href="{{ socialMedia.pinterest }}" target = "blank">Pinterest</a></li>{% endif %}
	{% if socialMedia.google|length %}<li><a href="{{ socialMedia.google }}" target = "blank">Google</a></li>{% endif %}
	{% if socialMedia.flickr|length %}<li><a href="{{ socialMedia.flickr }}" target = "blank">Flickr</a></li>{% endif %}
</ul>

