<div class="builder-section builder-{{ block.type }}" style="background-image:url('{{ block.backgroundImage.first.url }}')">
	<div class="container-fluid wrap">
		<div class="row">
			<div class="col-xs-12 col-sm-{{ block.columnWidth }} {% if block.isQuote %}quote{% endif %}" style="float:{{ block.position }} ">
				{% if block.isQuote %} <div class="quote-item serif">“ ”</div>{% endif %}
				{{ block.body }}
				
			</div>
		</div>
	</div>
</div>