{% include '_includes/body-block-open' %}
	{% set position = block.bleedImagePosition %}
	{% if position == 'full' %}
			{% for image in block.bleedImage %}

	<div class="hero cover item" style="height:{{ block.heroHeight }}px; background-image:url('{{ image.getUrl() }}')">
	</div>
	{% else %}
	<div class="col-xs-12 col-sm-10 padding-bottom {% if position ==  'right' %} col-sm-offset-2{% else %}{% endif %}">

			{% for image in block.bleedImage %}
			<img class="timeline-image bleed-image-{{ position }}" src="{{ image.getUrl() }}" alt="">
			{% endfor %}

	</div>
	{% endif %}
</div>

