{% include '_includes/body-block-open' %}
	<div class="container-fluid wrap sm-wrap">
		<div class="row">
	      	{% for image in block.clientLogo %}
				<div class="col-xs-6 col-sm-4 col-md-3 item">
					<img src="{{ image.getUrl('thumbnail') }}" alt="{{ image.title }}">
				</div>
			{% endfor %}
		</div>
	</div>
</div>         
