
{% include '_includes/body-block-open' %}
	<div class="wrap">
		<div class="flex-parent">
			{% for item in block.children %}
				<div class="content-item item">
					<h4>{{ item.contentGridHeadline }}</h4>
					{{ item.contentGridContent }}
				</div>
			{% endfor %}
		</div>
		{% if block.contentGridMessage|length %}
			<div class="message text-center item">
				{{ block.contentGridMessage }}
			</div>
		{% endif %}
	</div>
</div>