{% include '_includes/body-block-open' %}
	<div class="container-fluid wrap sm-wrap">
		<div class="row">
			<div class="col-xs-12 text-center">
				<div class="cta-content">
				{{ block.ctaCalloutText }}
				</div>
				{% if block.ctacalloutlink|length %}
				<a href="{{block.ctacalloutlink.first('').url }}" class="button">{{ block.ctaCalloutLinkText }}</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>