
{% include '_includes/body-block-open' %}
	<div class="container-fluid wrap">
		<div class="row">
				{% macro errorList(errors) %}
				{% if errors %}
				<ul class="errors">
					{% for error in errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endmacro %}

				{% from _self import errorList %}

				<form method="post" class="main-form" id="my-form" action="POST" accept-charset="UTF-8">
					{{ getCsrfInput() }}
					<input type="hidden" name="action" value="contactForm/sendMessage">

					<input id="subject" type="hidden" name="subject" value="{{ block.formEmailSubject }}">

					<input id="preferredKitten" type="text" name="preferredKitten">


					{% for item in block.children %}
					{% include "_includes/neo/" ~ item.type %}
					{% endfor %}
					
				</form>
				<div id="thank-you">
					{{ block.thankYou }}
				</div>
			</div>
	</div>
</div>