{% include '_includes/body-block-open' %}
    <div class="my-simple-gallery">
      {% for image in block.imageGrid %}
        <figure class="builder-gallery-thumbnail{% if not loop.first %} hide-me{% endif %}">
          <a class="js-builder-gallery" href="{{ image.getUrl('thumbnail') }}" aria-label="Open Photo Gallery">
            <img src="{{ image.getUrl('thumbnail') }}" alt="">
          </a>
        </figure>
      {% endfor %}
    </div>
</div>
