{% include '_includes/body-block-open' %}

	<div class="col-xs-12 col-sm-6 padding-bottom">

			{% for image in block.leftBleedImage %}
			<img class="timeline-image" src="{{ image.getUrl() }}" alt="">
			{% endfor %}

	</div>
</div>

