{% include '_includes/body-block-open' %}

	<div class="container-fluid wrap md-wrap">
		<div class="flex-parent item-row row">
			{% set limit = block.portfolioAggregateLimit %}
			{% for entry in craft.entries.section('work').limit(limit) %}
				{% include '_includes/portfolio-thumb' %}

			{% endfor %}
		</div>
	</div>

</div>



