{% include '_includes/body-block-open' %}
	<div class="container-fluid wrap sm-wrap">
		<div class="row">
	      	
	      	<p class="leadin">{{ block.shareText | default("Tell Someone about this") }}</p>
			{% include '_includes/sharebuttons' %}

		</div>
	</div>
</div>         
