
<div class="col-xs-12 {{ item.fieldWidth }} form-item">
    <input {% if item.required %}required{% endif %} id="fromName" type="text" placeholder="{{ item.placeholder }}{% if item.required %}*{% endif %}" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
</div>