
<div class="col-xs-12 {{ item.fieldWidth }} form-item">
    <input {% if item.required %}required{% endif %} id="phone" type="text" placeholder="{{ item.placeholder }}{% if item.required %}*{% endif %}" name="message[Phone]" value="">
</div>