{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "work" %}
	{% block content %}
	<div class="container-fluid wrap md-wrap work-index">
		<div class="row">
			<div class="col-xs-12">

					<div class="row item-row">
					{% for entry in craft.entries.section('work').find()%}
							{% for asset in entry.thumbnail %}

								<div class="col-xs-6 col-sm-4 portfolio-item item">
									<div class="thumbpreview">
										<a href="{{ entry.url }}">
												<img src="{{ asset.url('thumbnail') }}" alt="" class="brand">
											<div class="overlay">
												<p class="leadin">{{ entry.client }}</p>
												<h4>{{ entry.title }}</h4>
											</div>
										</a>
									</div>
								</div>
							{% endfor %}

					{% endfor %}
					</div>
			</div>
		</div>
	</div>
	{% endblock %}


