* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}


.cf {
  &:before,&:after {
    content: " "; 
    display: table; 
  }
  &:after {
    clear: both;
  }
}

body {
  overflow-x:hidden;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

section {
  @extend .cf !optional;
  padding:2em;
    
}

.flex-parent {
  flex-direction:row;
  display: flex;
  flex-wrap:wrap;
}

.wrap {
  max-width: 1200px;
  margin:auto;
  &.sm-wrap {
    max-width: 800px;
  }
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}





/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}


/* Responsive Video Embeds */

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
       position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}

div[class*="cta"]{
  text-align: center;

}

div[class*="builder-cta"]{
  margin-top: -4em;

}

.builder-WhiteSpace{

}

.builder-clients {
  .no-pad {
    div[class*="col"]{
      padding:0;
    }
  }
}

.md-wrap {
  max-width: 940px;
}

.builder-portfolioAggregate,.work-index {
  .item-row {
    .portfolio-item {
      &:hover {
        .overlay {
          opacity:1;
        }
      }
      margin-bottom: 30px;
    }
    .thumbpreview {
      position: relative;
      overflow:hidden;
      h4 {
        font-family: $heading;
        color:$primary;
        margin:10px 0;
        font-size: 18px;
        @include viewport(md){
          margin:10px 0;
        font-size: 3rem; 
        }
      }
      .leadin {
        margin: 0;
        line-height: 1;
      }
      img {
        width:100%;

      }
      .overlay {
        display: flex;
        flex-direction:column;
        justify-content:center;
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:white;
        z-index:2;
        opacity: 0;
        @include transition(.3s all);
        padding:2em;
      }
    }
  }
}

.hero{
  background-size: cover;
  background-position: center;
  @media (max-width:768px) {
    height:200px !important;
  }
}

.builder-section,.blog-index,.work-index {
  &:first-of-type {
    @media only screen and (max-width:990px){
    margin-top: 14em;
    
  }
}
}



.builder-section {
  margin-bottom: 8em;
  padding:0 4em;
  width:100%;
  @extend .cf !optional;
  &.builder-share {
  ul.list-inline {
    margin: 0;
    padding: 0;
    li {
      &:after {
            content:",";
            text-decoration: none;
          }
      a {
        border-bottom:solid 1px $secondary;
        padding-bottom: 1px;
        font-size: 2.5rem;
        font-family: $serif;
          
        }
        &:first-child {
        margin-left: 0;
        padding-left: 0;
    }
    &:last-child {
      &:after {
        content:none;
      }
    }
      }

  }
}
  ul {
      list-style-type: square;
      list-style-position: outside;
      margin-left: 30px;
    }
    li {
      
      color:$secondary;
      span {
        color:$primary;
      }
    }
  @include viewport(1200px){
    padding:0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.builder-leftRightFullWidthBleed{
  padding: 0;
}

.builder-contentGrid,.builder-blogAggregate {
  .read-this {
      font-family: serif;
      text-decoration: underline;
      color:$secondary;
      font-weight: 100;
      font-size: 2rem;
      &:hover {
        color:$primary;
      }
      &:visited {
        color:$secondary;
      }
    }
  .message{
    margin-top: 2em;
    * {
      font-family: $serif;
      line-height: 1.4;
      font-size: 2rem;
    }
    a {
      text-decoration: underline;
      color:$secondary;
    }
  }
  .content-item {
    width:100%;
    border:solid 1px $secondary;
    padding:5em;
    margin-bottom:-1px;
    @include viewport(md){
      padding:9em;
    }
    ul {
      list-style-type: square;
      list-style-position: outside;
      margin-left: 30px;
    }
    li {
      
      color:$secondary;
      span {
        color:$primary;
      }
    }
    @include viewport(sm){
      width:50%;
      margin-left:-1px;
    }
  }
}


.leadin {
    text-transform: uppercase;
    font-size: 1.3rem;
  }


.builder-bleedImage {
  margin-left:-10%;
  margin-right:-10%;
  @include viewport(sm){
    margin: 0;
  }
}


.bleed-image-left {
  @include viewport(sm){
    position: absolute;
    left:-10%;
  }
}

.bleed-image-right {
  @include viewport(sm){
    position: absolute;
  }
}

  .padding-bottom {
    padding-bottom:200px;
    @include viewport(sm){
    margin-right: -15px;  
    p {
      &:last-child {
        margin-bottom: 1em;
      }
    }

    }
  }

.bleed-image-left {
  @include viewport(sm){
    left:-10%;
  }
}

.bleed-image-right {
  @include viewport(sm){
    right:-10%;
  }
}

.timeline-left{
      p {
        &:last-child {
          margin-bottom: 1em;
        }
      }
    }


.builder-timeline {

  .col-sm-6 {
    margin-bottom: 2em;
  }


  .leadin {
    padding-left:75px;
  }




  .timeline-content {
    border-left:solid 1px $secondary;
    padding:0 1em 0 75px;
    @include viewport(sm){
    padding:0 5em 0 75px;

    }

    
    .timeline-item {
      margin-bottom: 6rem;
      position: relative;
      width:100%;
      @include viewport(md){
        width:80%
      }
      &:before {
        content:url('/resources/img/list-item.jpg');
        position: absolute;
        top:0;
        left:calc(-75px - 11.5px);
      }
      &:last-child {
        margin-bottom: 0;
      }

    }
    h4 {
      font-family: $serif;
      font-size: 3.5rem;
    }
  }
}

.builder-quote {
    p {
      font-family: $serif;
      font-size: 3rem;
      @include viewport(md){
        font-size: 4rem;
      }
      color:$darkblue;
      font-style: italic;
      font-weight: 400;
    }
    .byline {
      font-size: 1.5rem;
      font-family: $body;
      font-style: normal;
      font-weight: 400;
      float:right;
    }

}


.builder-packages {

  .package {
    width:100%;
    h3 {
      font-size: 4rem;
    }
    @include viewport(sm){
      width:33.3333%;
      margin-left:-1px;
      
    }
    float:left;
    padding:4em;
    border:solid 1px $darkblue;
    p {
      span {
        color:$secondary;
      }
    }
    &.active {
      background: $darkblue;
      p,h3 {
        color:white;
      }
      .button {
        background:$secondary;
        color:white;
        text-align: center;
      }
    }
  }
}

.builder-column {
@extend .cf;
  .flex-parent {
    > div {
      margin:15px;
      @include viewport(sm){
        flex-basis:calc(33% - 30px);
        flex-grow:1;
      }
     
    }
  }
}

.builder-backgroundContent {
  padding-top:15em;
  height:auto;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  @include viewport(sm){
    background-size: cover;
  background-position: center;
  padding-bottom:10em;
  padding-top:10em;




  }
  .quote {
    margin-top:5em;
  }
  .quote-item {
    @include viewport(sm){
    position: absolute;
    top: -130px;
    left: -90px;
    font-size: 190px;
    line-height: 1.4;
    }
    font-size: 90px;
    line-height: 0;

  }
}

.builder-footerContact,.builder-ctaCallout {
  .button {
    &:hover {
      color:rgba(white,1);
    }
    &:before,&:after {
      border-color:rgba(white,1);
    }
  }
  &.cover {
    background-size: cover;
  }
  padding:8em 2em;
  .button {
    color:white;
    border-color:white;
  }
  @include viewport(sm){
    padding:15em 0;
  }

  background: $secondary;
  background: linear-gradient(101deg,  $secondary 0%,$secondary 63%,$darkorange 63%,$darkorange 100%); 
  h2,p,h1,a,h3,h4,h5,li {
    color:white;
  }
  p.footerTrigger {
    font-family: serif;
    text-decoration: underline;
    cursor:pointer;
  }

}


footer {
  padding:4em 2em;
  margin-top: 4em;
  .container-fluid {
    border-top: solid 1px $secondary;
    padding: 4em 0 0;
    text-align: center;
    .text-right {
      text-align: center;
    }
    @include viewport(sm){
      text-align: left;
      .text-right {
      text-align: right;
    }
    }

  }
  li,a {
    font-size: 1.25rem;
    color:$primary;
  }
}


.blog {
  article {
    border:solid 1px $secondary;
    margin-bottom: 5em;
    padding:5em;
    
    .leadin {
      margin-bottom: 2em;
    }

    h1 {
      a {
        &:hover {
          color:$secondary;
        }
      }
    }

    a {
      color:$primary;
      &:visited {
        color:$primary
      }
    }
    .read-this {
      font-family: serif;
      text-decoration: underline;
      color:$secondary;
      font-weight: 100;
      &:hover {
        color:$primary;
      }
      &:visited {
        color:$secondary;
      }
    }
  }
}

.builder-twoColumn {
  .col-sm-6 {
    @include viewport(sm){
    margin: 0;
  }
    margin-bottom: 4em;
    &:last-child {
      margin-bottom: 0;
    }
  }

}





.button {
  position:relative;
  vertical-align: middle;
  color: $secondary;
  display: inline-block;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  border: 1px solid $secondary;
  transition:0.5s;
  padding:1em 3em;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor:pointer;
    &:hover {
    border: 1px solid rgba(0,160,80,0);
    color: $secondary;
    &:after,&:before {
      transform: scale(1);

    }
  }
  &:before,&:after {
    width: 100%;
    height:100%;
    z-index: 3;
    content:'';
    position: absolute;
    top:0;
    left:0;
    box-sizing: border-box;
    transform: scale(0);
    transition: 0.5s;
  }
  &:before {
    border-bottom: 2px solid $secondary;
    border-left: 2px solid $secondary;
    transform-origin: 0 100%;
  }
  &:after {
    border-top: 2px solid $secondary;
    border-right: 2px solid $secondary;
    transform-origin: 100% 0%;
  }
}

