.mainnav#mobile-menu {
	@include transition(all .5s);
	ul{
		float:right;
		li {
			&.quote {
				@include viewport(md){
					margin-left: 20px;
					line-height: 5;
					span {
						display: inline-block;
						a{
						color: $secondary;

						text-align: center;
						transition: 0.5s;
						cursor: pointer;
						border: 1px solid $secondary;
						transition:0.5s;
						padding:10px;
						text-transform: uppercase;
						cursor:pointer;
						position: relative;
						&:hover {
							border: 1px solid rgba(0,160,80,0);
							color: #ea7409;
							&:after,&:before {
								transform: scale(1);

							}
						}
						&:before,&:after {
							width: 100%;
							height:100%;
							z-index: 3;
							content:'';
							position: absolute;
							top:0;
							left:0;
							box-sizing: border-box;
							transform: scale(0);
							transition: 0.5s;
						}
						&:before {
							border-bottom: 2px solid #ea7409;
							border-left: 2px solid #ea7409;
							transform-origin: 0 100%;
						}
						&:after {
							border-top: 2px solid #ea7409;
							border-right: 2px solid #ea7409;
							transform-origin: 100% 0%;
						}
					}
				}
			}
				
			}
			&.active {
				a {
					color:white;
					@include viewport(md){
						color:$secondary;

					}
				}
			}
			float:left;
			a {
				@include viewport(md){
					padding:3em 1em;

				}
				padding:1.5em 1em;

				font-size: 1.5rem;
				text-transform: uppercase;
				display: inline-block;
				color:$primary;
				&:hover {
					color:$secondary;
				}
			}
		}
	}
}

header {
	padding:1em 2em;
	margin-bottom: 5em;
	background: white;
	@media only screen and (max-width:990px){
		position:fixed;
		width:100%;
		z-index:2;
		top:0;
		ul {
			li {
				&.active {
					background: $secondary;
				}
			}
		}

	}
	@include viewport(lg){
		padding:4em 0;
	}
}


