body {
  font: 100%/1.5 $body;
  color: $neutral;
  white-space:normal;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $darkblue;
  margin: 0 0 .75em;

}

h1 {
  font-size: 5rem;
  font-weight: 400;
  @include viewport(md){
  font-size: 8rem;

  }
}

h2 {
  font-size: 5rem;
  @include viewport(md){
  font-size: 6rem;

  }
}

h3 {
  font-size: 3.5rem;
  @include viewport(md){
  font-size: 4.5rem;

  }

}

h4 {
  font-size: 3rem;
  @include viewport(md){
  font-size: 3.7rem;

  }
}


.serif {
  font-family: $serif;
}

/* PARAGRAPH */

p,li {
 font-family: $body;
  font-size: 2rem;
  line-height: 1.4;
  color:$primary;
  font-weight: 100;

}
p {
  a {
    font-weight: 600;
  }
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
  &:visited {
    color:$link;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}
